
.error-message{
    color: #dc3545;
}
.success-message{
    color: #198754;
}

.pensamento{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 19vh;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,21,106,1) 50%, rgba(2,88,106,1) 100%);
    background-size: cover;
    background-position: center;
}