<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>

<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/styles/css/components.css}">
    <title>Lista de Bancos</title>
    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>

<body style="width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,21,106,1) 50%, rgba(2,88,106,1) 100%);
  background-size: cover;
  background-position: center;" class="text-white">
<!--faz uma requisicao get para o caminh especificado passando as variaveis size (tamanho da pagina) e page (qual pagina a ser visitada 0 a N pagina)-->
<!--<div   th:if="${bancos.getNumber()} != ${bancos.getSize()}">-->
<!--    <a th:href="@{/bancos (page = ${bancos.number + 1} , size = ${bancos.size})}"><h1>Proxima Pagina</h1></a>-->
<!--</div>-->

<header class="text-white">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link bg-dark"
                   th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active':''}"
                   href="/">Home</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link bg-dark"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/bancos') ? 'active' :''}"
                    href="/bancos">Lista de Bancos</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link bg-dark"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/agencia') ? 'active' :''}"
                    href="/agencia">Lista de Agencias</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link bg-dark"
                    th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container" style="margin: 10px">
        <div class="row">
            <h1 class="panel-title">Lista de bancos</h1>
        </div>
    </div>
</header>
<div class="search-bar">
    <form class="bar-element" method="get" th:object="${filtro}" th:action="@{/bancos}">
        filter : <input type="text" name="filtro" id="filtro" th:value="${filtro}" required>
        &nbsp;
        <button type="text" class="custom-btn btn-16" th:href="@{/bancos(filtro = ${filtro})}">filtrar</button>
        &nbsp;
    </form>
    <div class="bar-element" th:if="${bancos.number != 0}">
        <a th:href="@{/bancos (size =${bancos.size} , page = ${bancos.number -1})}">
            <button class="btn btn-primary" style="margin: 10px">Voltar Pagina</button>
        </a>
    </div>
    <div class="bar-element" th:if="${bancos.number != bancos.totalPages}">
        <a th:href="@{/bancos(page = ${bancos.number+ 1}, size = ${bancos.size})}">
            <button class="btn btn-primary" style="margin: 10px">Proxima Pagina</button>
        </a>
    </div>
<div class="container text-white" style="margin: 10px" >
    <div class="container mb-4">
        <div class="col-12">
            <span th:styleappend="${(param.erro == null || param.mensagem == null) ? ' : none;' : ''}"
                    th:classappend="${(param.erro != null && param.erro) ? 'error-message' : 'success-message'}"
                  th:text= "${param.mensagem != null ? param.mensagem : ''}">Teste</span>
        </div>
    </div>
    <div>
        <a href="/bancos/new"><button class="btn btn-primary">Adicionar novo Banco</button></a>
    </div>
    <div class="row">
    <div class="col-12">
        <table class="table text-white" >
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col"> Numero</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="banco : ${bancos}" class="text-white">
                <td th:text="${banco.nome}"></td>
                <td th:text="${banco.numero}"></td>
                <td class="col-1"><a th:href="@{/bancos/{bancoId}(bancoId = ${banco.id})}">Mostrar</a></td>
                <td class="col-1"><a th:href="@{/bancos/{bancoId}/edit(bancoId = ${banco.id})}">Editar</a></td>
                <td class="col-1"><a th:href="@{/bancos/{bancoId}/delete(bancoId = ${banco.id})}">Excluir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
        <div th:if="${bancos.totalPages > 0}" class="pagination" th:each="bancoNumber : ${bancos.number}">
            <a th:href="@{banco (page = ${bancos.number} , size = 10)}"
               th:text="${bancos.number}" th:class="${bancos.number == bancos.number +1} ? active" class="btn btn-info">aaa</a>
        </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>