<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Lista de Bancos')}"></head>

<body>
<header th:replace="~{fragmentos :: header('Lista de Bancos')}"></header>
<div class="container" style="margin: 10px">
    <div>
        <a href="/bancos/new"><button class="btn btn-primary">Adicionar novo Banco</button></a>
    </div>
    <div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col"> Numero</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="banco : ${bancos}">
                <td th:text="${banco.id}"></td>
                <td th:text="${banco.nome}"></td>
                <td th:text="${banco.numero}"></td>
                <td class="col-1"><a th:href="@{/bancos/{bancoId}(bancoId = ${banco.id})}">Mostrar</a></td>
                <td class="col-1"><a href="#">Editar</a></td>
                <td class="col-1"><a href="#">Excluir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>