<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Adicionar Banco')}"></head>

<body>
<header th:replace="~{fragmentos :: header('Adicionar Banco')}"></header>

<div class="container" style="margin: 10px">
    <div class="row">
        <form class="form-inline" style="margin: 20px 0" th:object="${requisicaoNovoBanco}" action="/bancos" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome do Banco</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:placeholder="nome" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Numero do Banco</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:placeholder="numero" th:field="*{numero}">
                <div class="invalid-feedback" th:errors="*{numero}"></div>
            </div>
<!--            <div class="mb-3">-->
<!--                <label class="form-label">Status</label>-->
<!--                <select class="form-select" name="StatusBanco">-->
<!--                    <option th:each="status : ${listaStatusBanco}"-->
<!--                            th:value="${status}" th:text="${status}"></option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="mb-3"><button type="submit" class="btn btn-primary">Adicionar novo banco</button>
            </div>
        </form>
        <a href="/bancos"><button class="btn btn-primary">Voltar</button></a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>